{% extends 'partials/layout.njk' %}
{% block title %}Posts{% endblock %}
{% block content %}
    <table class="table">
        <tbody>
            {% for field in [["ID", "id"], ["Title", "title"], ["Content", "body"], ["Created At", "createdAt"], ["Updated At", "updatedAt"]] %}
                <tr>
                    <th scope="row" style="width:5em">{{field[0]}}</th>
                    <td>{{post[field[1]]}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
